.Banner-Section{
    /* background-image: url("../../images/wp11380286-manifest-netflix-wallpapers.jpg"); */
    /* height: 600px; /* You must set a specified height */
    /* background-position: center; /* Center the image */
    /* background-repeat: no-repeat; /* Do not repeat the image */
    /* background-size: cover;  */
    /* color: white; */ 
    /* display: flex;
    flex-direction: column; */

    background-size: cover;
    height: 550px;
    color: #fff;
}
.Content-Section{
    /* padding-top: 100px;
    padding-left: 20px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap: 20px; */
    padding-top: 140px;
    height: 190px;
    padding-left: 15px;
}

.movie-title{
    font-size: 3rem;
    font-weight: 800;
    padding-bottom: 0.3rem;
}

.button_section{
    display: flex;
    flex-direction: row;
}    
.button{
    color: #fff;
    outline: none;
    border: none;
    font-weight: 700;
    border-radius: 5px;
    padding: 0.5rem 2rem;
    background-color: rgba(51,51,51,.5);
    cursor: pointer;
    margin-right: 1rem;
}
.banner_desc{
    padding-right:10px ;
    line-height: 1.7;
    margin-top: 1rem;
    font-size: 18px;
    height: 100px;
    overflow-y: scroll;
    max-width: 38rem;
    min-width: 20rem;
}
.banner_desc::-webkit-scrollbar{
    display: none;
}
.fade_bottom{
    height: 360px;
    background-image: linear-gradient(180deg,transparent,rgba(37,37,37,.61),#111);
}



@media (max-width: 490px) {
    html{
        overflow-x: hidden; /* Hide horizontal scrollbar */
    }

    .banner{
        margin-right: -20px;
    }   

    .banner__description{
        height: 90px;
    }
}